@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    box-sizing: border-box;
    height: 100%;
}

*::before,
*::after,
*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #DAF0FF;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", serif;
    height: inherit;
    justify-content: center;
    color: white;
}

main{
    background-color: #17181A;
    border: 1px solid #17181A;
    border-radius: 30px;
    width: 375px;
    height: 660px;
    padding: 40px;
    box-shadow: 50px 50px 150px #006BB5;
}

h1{
    color: #6baad4;
}

.container{
    margin-top: 10px;
    background-color: #303136;
    border-radius: 30px;
    height: 460px;
    padding: 20px;
}

select{
    background-color: #17181A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input{
    background-color: #17181A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

span{
    text-align: center;
    font-size: 30px;
}


button{
    background-color: #17181A;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#select-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.result{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#from-input, #to-input{
    text-align: center;
    width: 100%;
}

#to-input{
    margin-top: 50px;
    padding: 20px;
    font-size: 25px;
    background-color: #17181A;
}

.info {
    transition: 0.3s all;
    cursor: pointer;
    position:static;
    background-color: #577dc9;
    border: none;
    width: 2.3vw;
    height: 2.3vw;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;


}
.info:hover {

    width: 12vw;
    /* transition: 0.2s all; */
    font-size: 0.7vw;
    border-radius: 0.5vw;



}
.info:active {
    color: #475570;
}
@media screen and (max-width: 380px){
    main{
        width: 300px;
        height: 500px;
    }
    
    .container{
        height: 330px;
    }

    h1{
        font-size: 20px;
    }

    #to-input{
        padding: 10px;
        margin-top: 5px;
        font-size: 14px;
    }
}