@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: "Poppins", serif;
    display: flex;
    justify-content: center;
  }
  
  li {
    float: none;
    margin-right: 40px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.7vw 0.8vw;
    text-decoration: none;
    border-radius: 0.5vw;
    margin-top:0.1vw;
    margin-bottom: 0.1vw;
    box-shadow: #333;
  }
  
  li a:hover {
    background-color: #615b5b;
    
    

  }

  .csik{
    color: white;
    margin-top: 0.8vw;  }


#nagy{
text-align: center;
  font-size: 5vw;
  margin-top: 2vw;
   font-family:   'Russo One', sans-serif;
   text-shadow: 0.8vw 1.5vw 2vw #006BB5;
}    

#Vissza{
  transition: 0.3s all;
  cursor: pointer;
  position:static;
  background-color: #577dc9;
  border: none;
  width: 6vw;
  height: 2vw;
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1vw;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0.5vw;
 padding: 0.35vw;
}

body{

  background-color: #DAF0FF;

}